// ========== color var

$white: #ffff;
$black: #222222;
$yellow: #ff9600;
$sky: #14B9F1;
$cyprus: #0b3543;





// ================= adventure-under
$offWide: #fffaf2;
$offWide2: rgba(160, 160, 160, 1);
$offWide3: rgba(247, 247, 247, 1);
$lightBlue: #eff2ff;
$lightGreen: #f3fef4;
$lightIndigo: #faf9fe;
$lightRed: #fef8fa;

// ================= why
$blue:   rgba(0, 85, 255, 1);
$green:   rgba(0, 179, 60, 1);
$yellow: rgba(255, 150, 0, 1);
$rose:   rgba(255, 77, 121, 1);

$l-blue: #f0f3fd;
$l-green: #e7fce9;
$l-yellow: #fff4e6;
$l-rose: #fdf1f5;